div{
	color: red;
	background-color: yellow;
	font-size: 24px;
}
p{
	color: green;
}
div[id]{
	color: blue;
}
div p{
	color: black;
}
a:hover ,a:active{
	color: yellow;
	font-size: 20px;
	text-decoration: underline;
}